<div class="row mt-5 pt-2 animated fadeIn">
    <div class="col">
    </div>
    <div class="col-sm-4">
        <div class="card bg-light mt-5">
            <div class="card-header">
                <i class="fas fa-user"></i> Modifcar usuario o contraseña
            </div>
            <div class="card-body">
                <form #userForm="ngForm">
                    <div class="form-group">
                        <label for="username">Nuevo username: </label>
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="usuario.username" name="username" #usr="ngModel" required maxlength="35" minlength="4" [ngClass]="{ 'is-invalid': usr.invalid,'is-valid': usr.valid}">
                        <div *ngIf="usr.invalid && (usr.dirty || usr.touched)" class="invalid-feedback ">
                            <div *ngIf="usr.errors.required">Campo es obligatorio</div>
                            <div *ngIf="usr.errors. minlength">Minimo 4 caracteres</div>
                        </div>
                    </div>


                    <div class="form-group">
                        <label for="passw">Nuevo Password: </label>
                        <input type="password" class="form-control form-control-sm" name="passw" [(ngModel)]="usuario.password" required pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&].{7,15}" #pass="ngModel" [ngClass]="{ 'is-invalid': pass.invalid,'is-valid': pass.valid}">
                        <div *ngIf="pass.invalid && (pass.dirty || pass.touched)" class="invalid-feedback ">
                            <div *ngIf="pass.errors.required">Campo es obligatorio</div>
                            <div *ngIf="pass.errors. pattern">La contraseña debe tener al entre 8 y 16 caracteres, al menos un dígito, al menos una minúscula, al menos una mayúscula y al menos alguno de estos simbolos $@$!%*?&</div>
                        </div>
                    </div>

                    <div class="form-group ">
                        <button class="btn btn-primary btn-block" (click)="update()" [disabled]="!userForm.form.valid || loading">
                          <i [ngClass]="{'fa-sync fa-spin':loading}" class="fas"></i>
                            <span *ngIf="!loading"> Cambiar datos usuario</span>
                            <span *ngIf="loading"> Modificando......</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col"></div>
</div>