<div class="abrir-modal  fadeIn" *ngIf="codigoService.modal">
    <div class="modal mt-5" tabindex="-1" role="dialog" style="display:block;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h6 class="modal-title"> Generar Códigos</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cerrarModal()">
              <span aria-hidden="true">&times;</span>
            </button>
                </div>
                <form #codigoForm="ngForm" (ngSubmit)="store(codigoForm)">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="categoria">Ruta:</label>
                            <div class="input-group mb-3">
                                <select class="form-control form-control-sm" [(ngModel)]="obtenerRuta.ruta" name="ruta" required #rta="ngModel" [ngClass]="{ 'is-invalid': rta.invalid,'is-valid': rta.valid}">
                  <option [ngValue]="undefined">---Seleccionar ruta-----</option>
                  <option *ngFor="let ruta of rutas" [ngValue]="ruta">{{ruta.codigo}}</option>
                </select>
                                <div *ngIf="rta.invalid && (rta.dirty || rta.touched)" class="invalid-feedback ">
                                    <div *ngIf="rta.errors.required">Seleccione ruta</div>
                                </div>
                            </div>

                        </div>

                        <div class="form-group">
                            <label for="plazo">Cantidad de códigos a generar:</label>
                            <input type="number" name="cantidad" class="form-control form-control-sm" [(ngModel)]="cantidadCodigo" #mra="ngModel" required min="0">
                            <div class="alert alert-danger sizeDiv" *ngIf="mra.invalid && (mra.dirty || mra.touched)">
                                <div class="sizeSubDiv" *ngIf="mra.errors.required">Rellene este campo</div>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cerrarModal()">Cancelar</button>
                        <button class="btn btn-success btn-block" role="button" type="submit" [disabled]="!codigoForm.form.valid || loading">
                            <i [ngClass]="{'fa-save':!loading, 'fa-sync fa-spin':loading}" class="fas"></i>
                            <span *ngIf="!loading"> Registrar codigos</span>
                            <span *ngIf="loading"> Registrando......</span>
                        </button>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>