<nav aria-label="breadcrumb" class="mt-5 pt-2">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Personal</li>
    </ol>
</nav>
<ul class="alert alert-danger" *ngIf="errores?.length>0">
    <li *ngFor="let err of errores">
        {{ err }}
    </li>
</ul>

<div class="row animated fadeIn">
    <div class="col">
    </div>
    <div class="col-sm-5">
        <div class="card bg-secondary text-white mt-5">
            <div class="card-header">
                {{ title }}
            </div>
            <div class="card-body">
                <form #personalForm="ngForm">
                    <div class="form-group">
                        <label for="identificacion">Identificación</label>
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="personal.identificacion" name="identificacion" #pers="ngModel" required maxlength="20" pattern="[0-9 ]*" [ngClass]="{ 'is-invalid': pers.invalid,'is-valid': pers.valid}">
                        <div *ngIf="pers.invalid && (pers.dirty || pers.touched)" class="invalid-feedback ">
                            <div *ngIf="pers.errors.required">Identificación es obligatorio</div>
                            <div *ngIf="pers.errors.pattern">Ingrese una identificación valida</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="nombre">Nombre</label>
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="personal.nombre" name="nombre" #nom="ngModel" required maxlength="25" pattern="[ A-Za-zäÄëËïÏöÖüÜáéíóúáéíóúÁÉÍÓÚÂÊÎÔÛâêîôûàèìòùÀÈÌÒÙñÑ]+" [ngClass]="{ 'is-invalid': nom.invalid,'is-valid': nom.valid}">
                        <div *ngIf="nom.invalid && (nom.dirty || nom.touched)" class="invalid-feedback ">
                            <div *ngIf="nom.errors.required">Nombre es obligatorio</div>
                            <div *ngIf="nom.errors.pattern">Ingrese un nombre valido</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="apellido">Apellido</label>
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="personal.apellido" name="apellido" #ape="ngModel" required maxlength="25" pattern="[ A-Za-zäÄëËïÏöÖüÜáéíóúáéíóúÁÉÍÓÚÂÊÎÔÛâêîôûàèìòùÀÈÌÒÙñÑ]+" [ngClass]="{ 'is-invalid': ape.invalid,'is-valid': ape.valid}">
                        <div *ngIf="ape.invalid && (ape.dirty || ape.touched)" class="invalid-feedback ">
                            <div *ngIf="ape.errors.required">Apellido es obligatorio</div>
                            <div *ngIf="ape.errors.pattern">Ingrese un apellido valido</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="direccion">Dirección</label>
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="personal.direccion" name="direccion" #dir="ngModel" required maxlength="60" pattern="[ A-Za-z0-9,äÄëËïÏöÖüÜáéíóúáéíóúÁÉÍÓÚÂÊÎÔÛâêîôûàèìòùÀÈÌÒÙ-ñÑ]+" [ngClass]="{ 'is-invalid': dir.invalid,'is-valid': dir.valid}">
                        <div *ngIf="dir.invalid && (dir.dirty || dir.touched)" class="invalid-feedback ">
                            <div *ngIf="dir.errors.required">Dirección es obligatorio</div>
                            <div *ngIf="dir.errors.pattern">Ingrese una dirección valida</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="telefono">Teléfono</label>
                        <input type="text" name="telefono" class="form-control form-control-sm" [(ngModel)]="personal.telefono" pattern="[0-9 ]*" #tel="ngModel" required maxlength="9" minlength="8" [ngClass]="{ 'is-invalid': tel.invalid,'is-valid': tel.valid}">
                        <div *ngIf="tel.invalid && (tel.dirty || tel.touched)" class="invalid-feedback ">
                            <div *ngIf="tel.errors.required">Numero de celular es obligatoirio</div>
                            <div *ngIf="tel.errors.pattern">Ingrese una numero valido</div>
                            <div *ngIf="tel.errors.minlength">Debe de tener 8 digitos</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="ruta">Ruta:</label>
                        <select [compareWith]="compararRuta" class="form-control form-control-sm" [(ngModel)]="personal.ruta" name="ruta" #rta="ngModel">
                    <option [ngValue]="undefined">---Seleccionar ruta-----</option>
                    <option *ngFor="let ruta of rutas" [ngValue]="ruta">{{ruta.codigo}}</option>
                    <option [ngValue]="null">NO ASIGNAR RUTA</option>
                  </select>
                    </div>
                    <div class="form-group ">
                        <button class="btn btn-info btn-block" role="button" (click)='store()' *ngIf="!personal.id else elseBlock" [disabled]="!personalForm.form.valid || loading">
                          <i [ngClass]="{'fa-sync fa-spin':loading}" class="fas"></i>
                            <span *ngIf="!loading"> Registrar personal</span>
                            <span *ngIf="loading"> Registrando......</span>
                        </button>
                        <ng-template #elseBlock>
                            <button class="btn btn-primary" role="button" (click)='update()' [disabled]="!personalForm.form.valid">
                            <i [ngClass]="{'fa-sync fa-spin':loading}" class="fas"></i>
                            <span *ngIf="!loading"> Actualizar datos personal</span>
                            <span *ngIf="loading"> Actualizando......</span>
                            </button>
                        </ng-template>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col"></div>
</div>