<div class="row mt-5 pt-2 animated fadeIn">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link text-primary">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text"><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path><polyline points="14 2 14 8 20 8"></polyline><line x1="16" y1="13" x2="8" y2="13"></line><line x1="16" y1="17" x2="8" y2="17"></line><polyline points="10 9 9 9 8 9"></polyline></svg>                        Panel de usuarios
                    </a>
                </li>
                <li class="nav-item">

                    <a class="nav-link" routerLink="/usuario/list-usuario"> <i class="fas fa-users "></i> Gestionar usuarios</a>

                </li>
            </ul>
        </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">Personal</li>
            </ol>
        </nav>
        <div class="card mt-4 border border-primary">
            <div class="card-header">
                {{title | uppercase}}
                <button type="button" name="button" class="btn btn-primary float-right" [routerLink]="['/personal/form']">
                <i class="fas fa-user-tie "></i> Registrar nuevo {{title}}</button>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-sm table-hover">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Identificacion</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Apellido</th>
                                <th scope="col">Direccion</th>
                                <th scope="col">Telefono</th>
                                <th scope="col">Ruta</th>
                                <th scope="col">Ubicación</th>
                                <th scope="col">F. registro</th>
                                <th colspan="3" class="text-center">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let p of personal">
                                <td scope="row">{{p.identificacion}}</td>
                                <td scope="row">{{p.nombre}}</td>
                                <td scope="row">{{p.apellido}}</td>
                                <td scope="row">{{p.direccion}}</td>
                                <td scope="row">{{p.telefono}}</td>
                                <td scope="row" *ngIf="p.ruta==null else elseBlock"><i class="far fa-times-circle fa-2x text-danger"></i></td>
                                <ng-template #elseBlock>
                                    <td scope="row">{{p.ruta.codigo}}</td>
                                    <td scope="row">{{p.ruta.ubicacion}}</td>
                                </ng-template>
                                <td scope="row">{{p.createAt | date:'dd-MM-yyyy'}}</td>
                                <td scope="row"><button type="button" class="btn btn-sm btn-outline-primary btn-block" name="button" [routerLink]="['/personal/form',p.id]">Editar</button></td>
                                <td scope="row"><button type="button" class="btn btn-sm btn-outline-danger btn-block" name="button" (click)="delete(p)">Eliminar</button></td>
                                <td *ngIf="p.verificar=='SI' else elseBlock2" scope="row"><button type="button" class="btn btn-sm btn-outline-secondary btn-block" name="button" disabled>Usuario Creado</button></td>
                                <ng-template #elseBlock2>
                                    <td scope="row"><button type="button" class="btn btn-sm btn-outline-primary btn-block" name="button" [routerLink]="['/usuario/form',p.id]">Crear Usuario</button></td>
                                </ng-template>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <paginator-nav *ngIf="paginador" [paginador]="paginador"></paginator-nav>
            </div>

        </div>
    </main>

</div>