<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Actualizar datos cliente</li>
    </ol>
</nav>
<ul class="alert alert-danger" *ngIf="errores?.length>0">
    <li *ngFor="let err of errores">
        {{ err }}
    </li>
</ul>
<div class="row">
    <div class="col">
    </div>
    <div class="col-sm-4">
        <div class="card bg-info text-white mt-5">
            <div class="card-header">
                {{ title }}
            </div>
            <div class="card-body animated fadeIn">
                <form #clieForm="ngForm">
                    <input type="hidden" [(ngModel)]="idCodigoActual" name="idc">
                    <div class="form-group">
                        <label for="nombre">Nombre</label>
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="cliente.nombre" name="nombre" #nom="ngModel" required pattern="[ A-Za-zäÄëËïÏöÖüÜáéíóúáéíóúÁÉÍÓÚÂÊÎÔÛâêîôûàèìòùÀÈÌÒÙñÑ]+" maxlength="22" [ngClass]="{ 'is-invalid': nom.invalid,'is-valid': nom.valid}">
                        <div *ngIf="nom.invalid && (nom.dirty || nom.touched)" class="invalid-feedback ">
                            <div *ngIf="nom.errors.required">Nombre es obligatorio</div>
                            <div *ngIf="nom.errors.pattern">Ingrese un nombre valido</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="apellido">Apellido</label>
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="cliente.apellido" name="apellido" #ape="ngModel" required pattern="[ A-Za-zäÄëËïÏöÖüÜáéíóúáéíóúÁÉÍÓÚÂÊÎÔÛâêîôûàèìòùÀÈÌÒÙñÑ]+" maxlength="30" [ngClass]="{ 'is-invalid': ape.invalid,'is-valid': ape.valid}">
                        <div *ngIf="ape.invalid && (ape.dirty || ape.touched)" class="invalid-feedback ">
                            <div *ngIf="ape.errors.required">Apellido es obligatorio</div>
                            <div *ngIf="ape.errors.pattern">Ingrese un apellido valido</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="direccion">Dirección</label>
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="cliente.direccion" name="direccion" #dir="ngModel" required pattern="[ A-Za-z0-9,äÄëËïÏöÖüÜáéíóúáéíóúÁÉÍÓÚÂÊÎÔÛâêîôûàèìòùÀÈÌÒÙ-ñÑ]+" maxlength="70" [ngClass]="{ 'is-invalid': dir.invalid,'is-valid': dir.valid}">
                        <div *ngIf="dir.invalid && (dir.dirty || dir.touched)" class="invalid-feedback ">
                            <div *ngIf="dir.errors.required">Direccion es obligatoirio</div>
                            <div *ngIf="dir.errors.pattern">Ingrese una dirección valida</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="telefono">Teléfono</label>
                        <input type="text" name="telefono" class="form-control form-control-sm" [(ngModel)]="cliente.telefono" #tel="ngModel" pattern="[0-9 ]*" required maxlength="9" minlength="8" [ngClass]="{ 'is-invalid': tel.invalid,'is-valid': tel.valid}">
                        <div *ngIf="tel.invalid && (tel.dirty || tel.touched)" class="invalid-feedback ">
                            <div *ngIf="tel.errors.required">Numero de celular es obligatoirio</div>
                            <div *ngIf="tel.errors.pattern">Ingrese una numero valido</div>
                            <div *ngIf="tel.errors.minlength">Debe de tener 8 digitos</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="codigo">Código:</label>
                        <select [compareWith]="compararCodigo" class="form-control form-control-sm" [(ngModel)]="cliente.codigo" name="codigo" required #cod="ngModel" [ngClass]="{ 'is-invalid': cod.invalid,'is-valid': cod.valid}" (change)="obtenerCodigo()">
                        <option *ngFor="let codigo of codigos" [ngValue]="codigo">{{codigo.codigo}}</option>
                      </select>
                        <div *ngIf="cod.invalid && (cod.dirty || cod.touched)" class="invalid-feedback ">
                            <div *ngIf="cod.errors.required">Asigne un código al cliente</div>
                        </div>
                    </div>
                    <div class="form-group ">
                        <button class="btn btn-primary btn-block" role="button" (click)='updateCliente()' [disabled]="!clieForm.form.valid || loading">
                          
                          <i [ngClass]="{'fa-save':!loading, 'fa-sync fa-spin':loading}" class="fas"></i>
                          <span *ngIf="!loading"> Actualizar Datos cliente</span>
                          <span *ngIf="loading"> Registrando......</span>
                        </button>
                    </div>
                </form>

            </div>
        </div>
    </div>
    <div class="col"></div>
</div>