<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Registro de rutas</li>
    </ol>
</nav>

<ul class="alert alert-danger" *ngIf="errores?.length>0">

    <li *ngFor="let err of errores">
        {{ err }}
    </li>
</ul>

<div class="row">
    <div class="col">
    </div>
    <div class="col-sm-5">
        <div class="card bg-info text-white mt-5">
            <div class="card-header">
                {{ title }}
            </div>
            <div class="card-body animated fadeIn">
                <form #rutaForm="ngForm">
                    <div class="form-group">
                        <label for="ruta">Ruta</label>
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="ruta.codigo" name="codigo" #cod="ngModel" required pattern="[ A-Za-z0-9]+" maxlength="10" [ngClass]="{ 'is-invalid': cod.invalid,'is-valid': cod.valid}">
                        <div *ngIf="cod.invalid && (cod.dirty || cod.touched)" class="invalid-feedback ">
                            <div *ngIf="cod.errors.required">Ruta es obligatorio</div>
                            <div *ngIf="cod.errors.pattern">Ingrese una ruta válida</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="ubicacion">Ubicación</label>
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="ruta.ubicacion" name="ubicacion" #ubi="ngModel" required pattern="[ A-Za-zäÄëËïÏöÖüÜáéíóúáéíóúÁÉÍÓÚÂÊÎÔÛâêîôûàèìòùÀÈÌÒÙñÑ]+" maxlength="20" [ngClass]="{ 'is-invalid': ubi.invalid,'is-valid': ubi.valid}">
                        <div *ngIf="ubi.invalid && (cod.dirty || ubi.touched)" class="invalid-feedback ">
                            <div *ngIf="ubi.errors.required">Ubicación es obligatorio</div>
                            <div *ngIf="ubi.errors.pattern">Ingrese una ubicación válida</div>
                        </div>
                    </div>

                    <div class="form-group ">
                        <button class="btn btn-primary btn-block" role="button" [disabled]="!rutaForm.form.valid || loading" (click)='store()'>
                            <i [ngClass]="{'fa-sync fa-spin':loading}" class="fas"></i>
                            <span *ngIf="!loading"> Registrar ruta</span>
                            <span *ngIf="loading"> Registrando......</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col"></div>
</div>