<nav aria-label="breadcrumb" class="mt-5 pt-1">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Ruta</li>
    </ol>
</nav>

<div class="row">
    <div class="col"></div>
    <div class="col-6">
        <div class="card mt-4 border border-primary">
            <div class="card-header">
                Rutas
                <button type="button" name="button" class="btn btn-primary float-right" [routerLink]="['/ruta/form']" *ngIf="loginService.hasRole('ROLE_ADMIN')"><i class="fas fa-random"></i> Registrar nueva ruta</button>
            </div>
            <div class="card-body animated fadeIn">
                <div class="table-responsive">
                    <table class="table table-sm">
                        <thead class="thead-dark">
                            <tr class="text-center">
                                <th scope="col">ID</th>
                                <th scope="col">Ruta</th>
                                <th scope="col">Ubicacion</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let r of ruta" class="text-center">

                                <td>{{r.id}}</td>
                                <td>{{r.codigo}}</td>
                                <td>{{r.ubicacion}}</td>

                            </tr>
                        </tbody>
                    </table>
                    <paginator-ruta *ngIf="paginador" [paginador]="paginador"></paginator-ruta>
                </div>
            </div>

        </div>

    </div>
    <div class="col"></div>

</div>