<div class="row mt-5 pt-5">
    <div class="col">
    </div>
    <div class="col-sm-4">
        <div class="card bg-light mt-5">
            <div class="card-header">
                <i class="fas fa-key"></i> {{ title }}
            </div>
            <div class="card-body">
                <form method="post">
                    <div class="form-group">
                        <label for="codigo">Username</label>
                        <input aria-describedby="inputGroupPrepend" [(ngModel)]="usuario.username" type="text" class="form-control form-control-sm" id="username" name="username" autofocus required>
                    </div>
                    <div class="form-group">
                        <label for="ubicacion">Password</label>
                        <input [(ngModel)]="usuario.password" type="password" name="password" class="form-control form-control-sm" id="password" required>
                    </div>

                    <div class="form-group">

                        <!-- <input (click)='login()' type="submit"  class="btn btn-lg btn-block btn-primary" value="Login"> -->

                        <button class="btn btn-primary btn-block" role="button" type="submit" (click)='login()' [disabled]="loading">
                    <i [ngClass]="{'fa-sync fa-spin':loading}" class="fas"></i>
                    <span *ngIf="!loading"> Iniciar sesion</span>
                    <span *ngIf="loading"> Iniciando session......</span>
                </button>
                    </div>


                </form>
            </div>
        </div>
    </div>
    <div class="col"></div>
</div>