<ul class="alert alert-danger mt-5" *ngIf="errores?.length>0">
    <li *ngFor="let err of errores">
        {{ err }}
    </li>
</ul>
<div class="row mt-5 pt-2 animated fadeIn">
    <div class="col">
    </div>
    <div class="col-sm-4">
        <div class="card bg-light mt-5">
            <div class="card-header">
                CREAR USUARIO PARA: {{ personal.nombre }}
            </div>
            <div class="card-body">
                <form [formGroup]="roleForm" (ngSubmit)="submit()">
                    <div class="form-group">
                        <label for="nombre">Usuario</label>
                        <input [ngClass]="{ 'is-invalid':!roleForm.get('username').valid, 'is-valid': roleForm.get('username').valid}" type="text" class="form-control form-control-sm" formControlName="username">
                        <div *ngIf="roleForm.controls['username'].errors?.required" class="invalid-feedback"> El nombre de usuario es requerido</div>
                        <div *ngIf="roleForm.controls['username'].errors?.minlength" class="invalid-feedback"> Por lo menos 4 caracteres</div>
                        <div *ngIf="roleForm.controls['username'].errors?.maxlength" class="invalid-feedback"> Solo debe tener un maximo de 30 caracteres</div>

                    </div>
                    <div class="form-group">
                        <label for="apellido">Password</label>
                        <input [ngClass]="{ 'is-invalid':!roleForm.get('password').valid, 'is-valid': roleForm.get('password').valid}" type="password" class="form-control form-control-sm" formControlName="password">
                        <div *ngIf="roleForm.controls['password'].errors?.required" class="invalid-feedback"> El contraseña es obligatorio</div>
                        <div *ngIf="roleForm.controls['password'].errors?.pattern" class="invalid-feedback"> La contraseña debe tener al entre 8 y 16 caracteres, al menos un dígito, al menos una minúscula, al menos una mayúscula y al menos alguno de estos simbolos $@$!%*?&</div>
                    </div>

                    <label formArrayName="roles" *ngFor="let nombre of roleForm['controls'].roles['controls']; let i = index">
                  <input type="checkbox" [formControlName]="i">
                  {{roles[i].nombre}}
                </label>

                    <div class="form-group ">
                        <button class="btn btn-primary btn-block" [disabled]="!roleForm.valid || loading">
                            <i [ngClass]="{'fa-sync fa-spin':loading}" class="fas"></i>
                            <span *ngIf="!loading"> Registrar usuario</span>
                            <span *ngIf="loading"> Registrando......</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col"></div>
</div>