<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Registro tipo de pago</li>
    </ol>
</nav>
<ul class="alert alert-danger" *ngIf="errores?.length>0">

    <li *ngFor="let err of errores">
        {{ err }}
    </li>
</ul>

<div class="row">
    <div class="col">
    </div>
    <div class="col-sm-5">
        <div class="card bg-info text-white mt-5">
            <div class="card-header">
                {{ title }}
            </div>
            <div class="card-body animated fadeIn">
                <form #pagoForm="ngForm">
                    <div class="form-group">
                        <label for="nombreTipo">Nombre</label>
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="tipoPago.nombreTipo" name="nombreTipo" #nom="ngModel" required pattern="[ A-Za-z0-9äÄëËïÏöÖüÜáéíóúáéíóúÁÉÍÓÚÂÊÎÔÛâêîôûàèìòùÀÈÌÒÙ]+" maxlength="20" [ngClass]="{ 'is-invalid': nom.invalid,'is-valid': nom.valid}">
                        <div *ngIf="nom.invalid && (nom.dirty || nom.touched)" class="invalid-feedback ">
                            <div *ngIf="nom.errors.required">Nombre es obligatorio</div>
                            <div *ngIf="nom.errors.pattern">Ingrese un nombre válido</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="noPago">Número de pagos</label>
                        <input type="text" name="noPago" class="form-control form-control-sm" [(ngModel)]="tipoPago.noPago" required #np="ngModel" pattern="[0-9]*" [ngClass]="{ 'is-invalid': np.invalid,'is-valid': np.valid}">
                        <div *ngIf="np.invalid && (np.dirty || np.touched)" class="invalid-feedback ">
                            <div *ngIf="np.errors.required">Campo es obligatorio</div>
                            <div *ngIf="np.errors.pattern">Ingrese un numero válido</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="interes">Interés</label>
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="tipoPago.interes" name="interes" #intr="ngModel" required pattern="^[0-9]+([.][0-9]+)?$" [ngClass]="{ 'is-invalid': intr.invalid,'is-valid': intr.valid}">
                        <div *ngIf="intr.invalid && (intr.dirty || intr.touched)" class="invalid-feedback ">
                            <div *ngIf="intr.errors.required">Campo es obligatorio</div>
                            <div *ngIf="intr.errors.pattern">Ingrese un numero válido</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="plazo">Plazo</label>
                        <input type="text" name="plazo" class="form-control form-control-sm" [(ngModel)]="tipoPago.plazo" required #p="ngModel" required maxlength="30" pattern="[ A-Za-z0-9äÄëËïÏöÖüÜáéíóúáéíóúÁÉÍÓÚÂÊÎÔÛâêîôûàèìòùÀÈÌÒÙ-]+" [ngClass]="{ 'is-invalid': p.invalid,'is-valid': p.valid}">
                        <div *ngIf="p.invalid && (p.dirty || p.touched)" class="invalid-feedback ">
                            <div *ngIf="p.errors.required">Campo es obligatorio</div>
                            <div *ngIf="p.errors.pattern">No ingrese caracteres extraños</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="formaPago">Forma pago</label>
                        <select class="form-control form-control-sm" [(ngModel)]="tipoPago.formaPago" name="formaPago" #tpago="ngModel" required [ngClass]="{ 'is-invalid': tpago.invalid,'is-valid': tpago.valid}">
                    <option [ngValue]="undefined">---Forma de pago-----</option>
                    <option  value="DIARIO">DIARIO</option>
                    <option value="SEMANAL">SEMANAL</option>
                  </select>
                        <div *ngIf="tpago.invalid && (tpago.dirty || tpago.touched)" class="invalid-feedback ">
                            <div *ngIf="tpago.errors.required">Seleccione una forma de pago</div>
                        </div>
                    </div>

                    <div class="form-group ">
                        <button class="btn btn-primary btn-block" role="button" (click)='store()' [disabled]="!pagoForm.form.valid || loading">
                            <i [ngClass]="{'fa-sync fa-spin':loading}" class="fas"></i>
                            <span *ngIf="!loading">Registrar Tipo pago</span>
                            <span *ngIf="loading"> Registrando......</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col"></div>
</div>