<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Tipo de pago</li>
    </ol>
</nav>

<div class="row">

    <div class="col"></div>
    <div class="col-6">
        <div class="card mt-4 border border-primary">
            <div class="card-header">
                {{title}}
                <button type="button" name="button" class="btn btn-primary float-right" [routerLink]="['/tipo-pago/form']" *ngIf="loginService.hasRole('ROLE_ADMIN')">
          <i class="fas fa-list-ol"></i> Registrar nuevo {{title}}</button>
            </div>
            <div class="card-body animated fadeIn">
                <div class="table-responsive">
                    <table class="table table-sm">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Pagos</th>
                                <th scope="col">Tipo pago</th>
                                <th scope="col">No. pagos</th>
                                <th scope="col">Interes</th>
                                <th scope="col">Plazo</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let tp of tipoPago">
                                <td>{{tp.id}}</td>
                                <td>{{tp.formaPago}}</td>
                                <td>{{tp.nombreTipo}}</td>
                                <td>{{tp.noPago}}</td>
                                <td>{{tp.interes}}</td>
                                <td>{{tp.plazo}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
    <div class="col"></div>

</div>