<app-info-estado-cueta *ngIf="estadoCuentaSeleccionado" [estadoCuenta]="estadoCuentaSeleccionado" [fechasPago]="fechaPagos"></app-info-estado-cueta>
<div class="row mt-5 pt-2 animated fadeIn">
    <div class="col-md-2 d-none d-md-block bg-light sidebar animated fadeIn" *ngIf="mostrarNavLateral">
        <nav class="">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active text-primary">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>                            Agencias
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <div class="form-group">
                            <select class="form-control form-control-sm" (change)="findAllByUbicacion($event.target.value)">
                   <option [ngValue]="undefined">-SELECCIONAR AGENCIA-</option>
                   <option *ngFor="let ubicacion of rutasUbicacion" [ngValue]="ubicacion">{{ubicacion}}</option>
                 </select>
                        </div>
                    </li>

                </ul>

                <ul class="nav flex-column mb-2">
                    <li class="nav-item">
                        <a class="nav-link text-primary">
                            <i class="fas fa-filter"></i> Filtar por
                        </a>
                    </li>
                    <li class="nav-item">
                        <button type="button" name="button" (click)="findAllByMoraUbicacion(ubicacion)" class="btn btn-outline-primary btn-block btn-sm">Cuentas con mora</button>
                    </li>

                    <li class="nav-item">
                        <button type="button" name="button" (click)="findAllByAdelantadoUbicacion(ubicacion)" class="btn btn-outline-primary btn-block btn-sm">Cuotas adelantadas</button>
                    </li>

                    <li class="nav-item">
                        <button type="button" name="button" (click)="findAllByFechaVencimiento(ubicacion)" class="btn btn-outline-primary btn-block btn-sm">Cuentas vencidas</button>
                    </li>

                </ul>
            </div>
        </nav>
    </div>

    <main role="main" class="animated fadeIn" [ngClass]="{co1: mostrarNavLateral, co2: !mostrarNavLateral}">
        <div style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;" class="chartjs-size-monitor">
            <div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
            </div>
            <div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
            </div>
        </div>
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h3 class="h5">AGENCIA {{ubicacion | uppercase}}</h3>
        </div>

        <div class="example-header mat-elevation-z8">
            <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Escriba nombre, apellido o ruta para filtrar" />
            </mat-form-field>
        </div>
        <br>
        <div class="">

            <div class="card border border-primary">
                <div class="card-header">
                    <button class="mat-paginator-navigation-first mat-icon-button mat-button-base ng-star-inserted" type="button" style="touch-action: none; -moz-user-select: none;" (click)="cambiaVisibilidad()" data-toggle="tooltip" data-placement="left" title="Ocultar O Mostrar Panel"><span
                        class="mat-button-wrapper"><svg class="mat-paginator-icon" focusable="false" viewBox="0 0 24 24" *ngIf="texto=='Ocultar'">
                          <path d="M18.41 16.59L13.82 12l4.59-4.59L17 6l-6 6 6 6zM6 6h2v12H6z"></path>
                        </svg></span>
        
                        <span *ngIf="texto=='Mostrar'" class="mat-button-wrapper"><svg class="mat-paginator-icon" focusable="false" viewBox="0 0 24 24"><path d="M5.59 7.41L10.18 12l-4.59 4.59L7 18l6-6-6-6zM16 6h2v12h-2z"></path></svg></span>
                      <div class="mat-button-ripple mat-ripple mat-button-ripple-round" matripple="" ng-reflect-centered="true"
                        ng-reflect-disabled="true" ng-reflect-trigger="[object HTMLButtonElement]"></div>
                      <div class="mat-button-focus-overlay"></div>
                    </button>
                </div>
                <div class="card-body">

                    <div class="example-container mat-elevation-z8 table-responsive-sm">
                        <mat-table [dataSource]="dataSource" matSort>
                            <ng-container matColumnDef="IC">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> I.C.</mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.credito.id}} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="Ruta">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Ruta</mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.credito.cliente.codigo.ruta.codigo}} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="Nombre">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre</mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.credito.cliente.nombre}} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="Apellido">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Apellido</mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.credito.cliente.apellido}} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="Cuotas">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Cuotas</mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.credito.tipoPago.noPago}} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="Cuota">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Cuota</mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.credito.cuota |currency:"GTQ":"symbol"}} </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="Total">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Total</mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.totalPagado}}.00 </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="Saldo">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Restante</mat-header-cell>
                                <mat-cell *matCellDef="let row" class="font-weight-bold"> {{row.saldo | currency:"GTQ":"symbol"}} </mat-cell>

                            </ng-container>
                            <ng-container matColumnDef="TotalPagado">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>CP</mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.pagosRealizados}} </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="PagosFaltantes">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>CF</mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.pagosFaltantes}} </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="Mora">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Mora</mat-header-cell>
                                <mat-cell *matCellDef="let row">
                                    <span *ngIf="row.credito.mora.moraGenerada>0 else elseBlock1" class="text-danger font-weight-bold">{{row.credito.mora.moraGenerada}}.00 </span>
                                    <ng-template #elseBlock1>
                                        {{row.credito.mora.moraGenerada}}.00
                                    </ng-template>
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="Atraso">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Atraso</mat-header-cell>
                                <mat-cell *matCellDef="let row">
                                    <span *ngIf="row.credito.mora.diasMora>0 else elseBlock" class="text-danger font-weight-bold">{{row.credito.mora.diasMora}}</span>
                                    <ng-template #elseBlock>
                                        {{row.credito.mora.diasMora}}
                                    </ng-template>
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="Adelantado">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Adelanto</mat-header-cell>
                                <mat-cell *matCellDef="let row">
                                    <span *ngIf="row.credito.mora.diasAdelantado>0 else elseBlock" class="text-primary">{{row.credito.mora.diasAdelantado}}</span>
                                    <ng-template #elseBlock>
                                        {{row.credito.mora.diasAdelantado}}
                                    </ng-template>
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="Acciones">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Acciones</mat-header-cell>
                                <mat-cell *matCellDef="let row">
                                    <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
                                        <mat-button-toggle value="bold" (click)="registrarPago(row)">Pagar</mat-button-toggle>
                                        <mat-button-toggle value="bold" (click)="cargarModalMora(row)">Mora</mat-button-toggle>
                                        <mat-button-toggle value="italic" (click)="infoCompleta(row)">Detalle</mat-button-toggle>
                                    </mat-button-toggle-group>

                                </mat-cell>
                            </ng-container>
                            <mat-header-row *matHeaderRowDef="displayedColumns" class="encabezado"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                        </mat-table>
                        <mat-paginator [pageSizeOptions]="[5, 10, 25, 50, 100]" [pageSize]="10" showFirstLastButtons></mat-paginator>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

<!--******************************Modal para relizar pagos**********************************-->
<!--*****************************************************************************************-->
<div class="abrir-modal  fadeIn" *ngIf="estadoCuentaService.modal">
    <div class="modal mt-5 pt-2" tabindex="-1" role="dialog" style="display:block;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h6 class="modal-title"><i class="far fa-user"></i> {{estadoCuenta.credito.cliente.nombre}} {{estadoCuenta.credito.cliente.apellido}}</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cerrarModal()">
            <span aria-hidden="true">&times;</span>
          </button>
                </div>
                <form #depositoForm="ngForm">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="cantidad">Cantidad:</label>
                            <input type="text" name="cantidad" class="form-control form-control-sm" [(ngModel)]="estadoCuenta.credito.cuota" required pattern="^[0-9]+([.][0-9]+)?$" #cant="ngModel" [ngClass]="{ 'is-invalid': cant.invalid,'is-valid': cant.valid}">
                            <div *ngIf="cant.invalid && (cant.dirty || cant.touched)" class="invalid-feedback ">
                                <div *ngIf="cant.errors.required">Cantidad es obligatorio</div>
                                <div *ngIf="cant.errors.pattern">Ingrese una cantidad valida</div>
                            </div>

                        </div>
                        <div class="form-group">
                            <label for="mora">Mora:</label>
                            <input type="text" name="mora" class="form-control form-control-sm" [(ngModel)]="estadoCuenta.credito.mora.moraGenerada" required pattern="^[0-9]+([.][0-9]+)?$" #mor="ngModel" [ngClass]="{ 'is-invalid': mor.invalid,'is-valid': mor.valid}">
                            <div *ngIf="mor.invalid && (mor.dirty || mor.touched)" class="invalid-feedback ">
                                <div *ngIf="mor.errors.required">Cantidad es obligatorio</div>
                                <div *ngIf="mor.errors.pattern">Ingrese una cantidad valida</div>
                            </div>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cerrarModal()">Cancelar</button>
                        <button class="btn btn-success btn-block" role="button" (click)='storeDeposito()' [disabled]="!depositoForm.form.valid || loading">
                            <i [ngClass]="{'fa-sync fa-spin':loading}" class="fas"></i>
                            <span *ngIf="!loading"> Registrar pago</span>
                            <span *ngIf="loading"> Registrando......</span>
                        </button>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!--******************************Modal para modificar mora **********************************-->
<!--*****************************************************************************************-->

<div class="abrir-modal  fadeIn" *ngIf="moraService.modal">
    <div class="modal mt-5 pt-2" tabindex="-1" role="dialog" style="display:block;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h6 class="modal-title"><i class="far fa-user"></i> Modificar Mora</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cerrarModalMora()">
            <span aria-hidden="true">&times;</span>
          </button>
                </div>
                <form #moraForm="ngForm">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="diasAdelantado">Dias adelantado:</label>
                            <input type="text" name="diasAdelantado" class="form-control form-control-sm" [(ngModel)]="mora.diasAdelantado" required pattern="[0-9]*" #cant="ngModel" [ngClass]="{ 'is-invalid': cant.invalid,'is-valid': cant.valid}">
                            <div *ngIf="cant.invalid && (cant.dirty || cant.touched)" class="invalid-feedback ">
                                <div *ngIf="cant.errors.required">Campoo obligatorio</div>
                                <div *ngIf="cant.errors.pattern">Ingrese un numero valido</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="diasMora">Dias en mora:</label>
                            <input type="text" name="diasMora" class="form-control form-control-sm" [(ngModel)]="mora.diasMora" required pattern="[0-9]*" #dMora="ngModel" [ngClass]="{ 'is-invalid': dMora.invalid,'is-valid': dMora.valid}">
                            <div *ngIf="dMora.invalid && (dMora.dirty || dMora.touched)" class="invalid-feedback ">
                                <div *ngIf="dMora.errors.required">Campo obligatorio</div>
                                <div *ngIf="dMora.errors.pattern">Ingrese un numero valido</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="moraGenerada">Mora Generada:</label>
                            <input type="text" name="moraGenerada" class="form-control form-control-sm" [(ngModel)]="mora.moraGenerada" required pattern="^[0-9]+([.][0-9]+)?$" #moraG="ngModel" [ngClass]="{ 'is-invalid': moraG.invalid,'is-valid': moraG.valid}">
                            <div *ngIf="moraG.invalid && (moraG.dirty || moraG.touched)" class="invalid-feedback ">
                                <div *ngIf="moraG.errors.required">Campo obligatorio</div>
                                <div *ngIf="moraG.errors.pattern">Ingrese una cantidad valida</div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cerrarModalMora()">Cancelar</button>
                        <button class="btn btn-success btn-block" role="button" [disabled]="!moraForm.form.valid || loading" (click)="modificarMora(moraForm)">
                            <i [ngClass]="{'fa-sync fa-spin':loading}" class="fas"></i>
                            <span *ngIf="!loading"> Modificar Mora</span>
                            <span *ngIf="loading"> Modificando......</span>
                        </button>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>