.example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
  }

  .example-header {
    min-height: 64px;
    padding: 8px 24px 0;
  }

  mat-header-row{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }

  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  .mat-table {
    overflow: auto;
  }

  .mat-row:nth-child(even){
    /*background-color:rgb(250, 212, 212)*/
    background-color:rgb(220,237,200);
  }

.mat-row:nth-child(odd){
    background-color:rgb(247, 241, 241);
}

mat-footer-row, mat-row{
  min-height: 36px;
}

.mat-button-toggle-group {

  height: 40px;

}

.encabezado{
  background-color: #4CAF50; /*lightcoral;*/
}

table {
  width: 100%;
}

mat-header-cell{
  font-weight: bold;
  font-size:14px;
}

mat-cell{
  overflow:visible;
  padding-left: 12px;
  padding-right: 0px;

}

.mat-column-IC {
  flex: 0 0 75px;

}

.mat-column-Ruta{
  flex: 0 0 60px;
}

.mat-column-Cuotas{
  flex: 0 0 65px;
}

.mat-column-Cuota{
  flex: 0 0 65px;
}

.mat-column-Total{
  flex: 0 0 75px;
}

.mat-column-Saldo{
  flex: 0 0 82px;
}

.mat-column-TotalPagado{
  flex: 0 0 45px;
}

.mat-column-PagosFaltantes{
  flex: 0 0 45px;
}

.mat-column-Mora{
  flex: 0 0 60px;
}

.mat-column-Atraso{
  flex: 0 0 60px;
}

.mat-column-Adelantado{
  flex: 0 0 80px;
}

.mat-column-Acciones{
  flex: 0 0 235px;
}


/*
////////////ESTILOS MODAL
*/

.abrir-modal{
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0px;
  left:0px;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.animacion{
  animation-duration: 0.3s;
  animation-fill-mode: both;
  -webkit-animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
}

.fadeIn{
  animation-name: fadeIn;
  -webkit-animation-name: fadeIn;
}

@keyframes fadeIn {0% {opacity:0}to{opacity: 1}}
@-webkit-keyframes fadeIn {0% {opacity:0}to{opacity: 1}}
