<div class="row mt-5 pt-2 animated fadeIn">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link text-primary">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text"><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path><polyline points="14 2 14 8 20 8"></polyline><line x1="16" y1="13" x2="8" y2="13"></line><line x1="16" y1="17" x2="8" y2="17"></line><polyline points="10 9 9 9 8 9"></polyline></svg>                        Panel de pagos
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" routerLink="/deposito/list-deposito"> <i class="fas fa-coins"></i> Ver depositos</a>
                </li>
            </ul>
        </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;" class="chartjs-size-monitor">
            <div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
            </div>
            <div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
            </div>
        </div>
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h3 class="h5">AGENCIA {{ubicacion | uppercase}}</h3>
            <div class="btn-toolbar mb-2 mb-md-0">

                <form #consultaForm="ngForm" *ngIf="loginService.hasRole('ROLE_ADMIN')">
                    <input type="date" name="fecha1" [(ngModel)]="depositoConsulta.fecha1" required>
                    <input type="date" name="fecha2" [(ngModel)]="depositoConsulta.fecha2" required>
                    <select name="ubicacion" [(ngModel)]="depositoConsulta.ubicacion" class="btn btn-sm btn-outline-info" (change)="findRutas(depositoConsulta.ubicacion)">
               <option [ngValue]="snUbicacion">-SELECCIONAR AGENCIA-</option>
               <option *ngFor="let ubicacion of rutasUbicacion" [ngValue]="ubicacion">{{ubicacion}}</option>
             </select>
                    <select [(ngModel)]="depositoConsulta.rta" name="rta" class="btn btn-sm btn-outline-info">
               <option [ngValue]="snRuta">---SELECCIONAR RUTA-----</option>
               <option *ngFor="let ruta of allRuta" [ngValue]="ruta.codigo">{{ruta.codigo}}</option>
             </select>
                    <button class="btn btn-outline-success btn-sm" role="button" (click)='consultarDeposito()' [disabled]="!consultaForm.form.valid">
               <i class="fas fa-search"></i> buscar </button>
                </form>
            </div>
        </div>

        <div class="example-header mat-elevation-z8">
            <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Escriba nombre o apellido para filtrar" />
            </mat-form-field>
        </div>
        <br>
        <div class="card border border-primary">
            <div class="card-header">
                <i class="fas fa-coins"></i> Depositos registrados
                <select class="btn btn-sm btn-outline-info  float-right" (change)="findAllByFechaAndRuta($event.target.value)">
            <option [ngValue]="undefined">-- SELECCIONAR RUTA --</option>
            <option *ngFor="let ruta of rutas" [ngValue]="ruta.codigo">{{ruta.codigo}}</option>
          </select>
            </div>
            <div class="card-body">

                <div class="example-container mat-elevation-z8 table-responsive-sm">
                    <mat-table [dataSource]="dataSource" matSort>

                        <ng-container matColumnDef="Ruta">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Ruta</mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{row.credito.cliente.codigo.ruta.codigo}} </mat-cell>
                            <mat-footer-cell *matFooterCellDef></mat-footer-cell>
                        </ng-container>

                        <ng-container matColumnDef="Nombre">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre</mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{row.credito.cliente.nombre}} </mat-cell>
                            <mat-footer-cell *matFooterCellDef></mat-footer-cell>
                        </ng-container>

                        <ng-container matColumnDef="Apellido">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Apellido</mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{row.credito.cliente.apellido}} </mat-cell>
                            <mat-footer-cell *matFooterCellDef> </mat-footer-cell>
                        </ng-container>

                        <ng-container matColumnDef="Fecha">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Fecha</mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{row.fechaDeposito | date:"EEEE dd, MMMM yyyy"}} </mat-cell>
                            <mat-footer-cell *matFooterCellDef>Total: </mat-footer-cell>
                        </ng-container>
                        <ng-container matColumnDef="Hora">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Hora</mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{row.horaDeposito}} </mat-cell>
                            <mat-footer-cell *matFooterCellDef></mat-footer-cell>
                        </ng-container>
                        <ng-container matColumnDef="Cantidad">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Cantidad</mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{row.cantidad |currency:"GTQ":"symbol"}} </mat-cell>
                            <mat-footer-cell *matFooterCellDef>{{total |currency:"GTQ":"symbol"}}</mat-footer-cell>
                        </ng-container>
                        <ng-container matColumnDef="Mora">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Mora</mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{ row.mora |currency:"GTQ":"symbol"}} </mat-cell>
                            <mat-footer-cell *matFooterCellDef>{{totalMora |currency:"GTQ":"symbol"}}</mat-footer-cell>
                        </ng-container>

                        <mat-header-row *matHeaderRowDef="displayedColumns" class="encabezado"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                        <mat-footer-row *matFooterRowDef="displayedColumns"></mat-footer-row>
                    </mat-table>
                    <mat-paginator [pageSizeOptions]="[5, 10, 25, 50, 100]" [pageSize]="10" showFirstLastButtons></mat-paginator>
                </div>

            </div>
        </div>
    </main>

</div>