<div class="row mt-5 pt-2">
    <div class="col-md-2 d-none d-md-block bg-light sidebar animated fadeIn" *ngIf="mostrarNavLateral">
        <nav class="">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link text-primary">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text"><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path><polyline points="14 2 14 8 20 8"></polyline><line x1="16" y1="13" x2="8" y2="13"></line><line x1="16" y1="17" x2="8" y2="17"></line><polyline points="10 9 9 9 8 9"></polyline></svg>                            Panel crédito
                            <li class="nav-item" *ngIf="loginService.hasRole('ROLE_ADMIN')">

                                <a class="nav-link" routerLink="/credito-editar"> <i class="fas fa-edit"></i> Editar crédito</a>

                            </li>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <main role="main" class="animated fadeIn " [ngClass]="{co1: mostrarNavLateral, co2: !mostrarNavLateral}">
        <div style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;" class="chartjs-size-monitor">
            <div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
            </div>
            <div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
            </div>
        </div>
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h3 class="h5">Lista créditos</h3>
        </div>

        <div class="example-header mat-elevation-z8">
            <mat-form-field>
                <mat-label>Filtro</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Escriba nombre o apellido">
            </mat-form-field>
        </div>
        <br>
        <div class="card border border-primary">
            <div class="card-header">
                <button class="mat-paginator-navigation-first mat-icon-button mat-button-base ng-star-inserted" type="button" style="touch-action: none; -moz-user-select: none;" (click)="cambiaVisibilidad()" data-toggle="tooltip" data-placement="left" title="Ocultar O Mostrar Panel"><span
                    class="mat-button-wrapper"><svg class="mat-paginator-icon" focusable="false" viewBox="0 0 24 24" *ngIf="texto=='Ocultar'">
                      <path d="M18.41 16.59L13.82 12l4.59-4.59L17 6l-6 6 6 6zM6 6h2v12H6z"></path>
                    </svg></span>
    
                    <span *ngIf="texto=='Mostrar'" class="mat-button-wrapper"><svg class="mat-paginator-icon" focusable="false" viewBox="0 0 24 24"><path d="M5.59 7.41L10.18 12l-4.59 4.59L7 18l6-6-6-6zM16 6h2v12h-2z"></path></svg></span>
                  <div class="mat-button-ripple mat-ripple mat-button-ripple-round" matripple="" ng-reflect-centered="true"
                    ng-reflect-disabled="true" ng-reflect-trigger="[object HTMLButtonElement]"></div>
                  <div class="mat-button-focus-overlay"></div>
                </button>
                <i class="fas fa-hand-holding-usd"></i> Creditos otorgados
                <select class="form-control-sm float-right btn btn-sm btn-outline-info" (change)="findAllStatusAAndRuta($event.target.value)">
            <option [ngValue]="undefined">SELECCIONAR RUTA</option>
            <option *ngFor="let ruta of rutas" [ngValue]="ruta.codigo">{{ruta.codigo}}</option>
          </select>
            </div>
            <div class="card-body animated fadeIn">
                <div class="mat-elevation-z8">
                    <table mat-table [dataSource]="dataSource" matSort>

                        <ng-container matColumnDef="ruta">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Ruta </th>
                            <td mat-cell *matCellDef="let element"> {{element.cliente.codigo.ruta.codigo}} </td>
                        </ng-container>

                        <ng-container matColumnDef="codigo">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Código </th>
                            <td mat-cell *matCellDef="let element"> {{element.cliente.codigo.codigo}} </td>
                        </ng-container>

                        <ng-container matColumnDef="nombre">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                            <td mat-cell *matCellDef="let element"> {{element.cliente.nombre}} </td>
                        </ng-container>

                        <ng-container matColumnDef="apellido">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Apellido </th>
                            <td mat-cell *matCellDef="let element"> {{element.cliente.apellido}} </td>
                        </ng-container>

                        <ng-container matColumnDef="cantidad">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Cantidad </th>
                            <td mat-cell *matCellDef="let element"> {{element.monto |currency:"GTQ":"symbol"}} </td>
                        </ng-container>

                        <ng-container matColumnDef="ciclo">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Ciclo </th>
                            <td mat-cell *matCellDef="let element"> {{element.cliente.record.ciclo}} </td>
                        </ng-container>

                        <ng-container matColumnDef="fecharegistro">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha registro </th>
                            <td mat-cell *matCellDef="let element"> {{element.fechaRegistro | date}} </td>
                        </ng-container>

                        <ng-container matColumnDef="acciones">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Accciones </th>
                            <td mat-cell *matCellDef="let element"> <button mat-stroked-button (click)="abrirModa(element)">EDITAR</button> </td>
                        </ng-container>


                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                </div>
            </div>
        </div>
    </main>

</div>

<div class="abrir-modal  fadeIn" *ngIf="creditoService.modal">
    <div class="modal mt-5 pt-2" tabindex="-1" role="dialog" style="display:block;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modficar ciclo o fecha de registro:</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cerrarModal()">
            <span aria-hidden="true">&times;</span>
          </button>
                </div>
                <form #creditoForm="ngForm">

                    <div class="modal-body">

                        <p>{{credito.cliente.nombre}} {{credito.cliente.apellido}}</p>

                        <div class="form-group">
                            <label for="monto">Ciclo:</label>
                            <input type="text" name="monto" class="form-control form-control-sm" [(ngModel)]="credito.cliente.record.ciclo" required pattern="^[0-9]*" #cant="ngModel" [ngClass]="{ 'is-invalid': cant.invalid,'is-valid': cant.valid}">
                            <div *ngIf="cant.invalid && (cant.dirty || cant.touched)" class="invalid-feedback ">
                                <div *ngIf="cant.errors.required">Cantidad es obligatorio</div>
                                <div *ngIf="cant.errors.pattern">Ingrese una cantidad valida</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <mat-form-field>
                                <mat-label>Choose a date</mat-label>
                                <input matInput [matDatepicker]="picker" [(ngModel)]="date" name="fecha">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cerrarModal()">Cancelar</button>
                        <button class="btn btn-success btn-block" role="button" (click)='updateCredito()' [disabled]="!creditoForm.form.valid || loading">
                            <i [ngClass]="{'fa-sync fa-spin':loading}" class="fas"></i>
                            <span *ngIf="!loading"> Modificar credito</span>
                            <span *ngIf="loading"> Modificando......</span>
                        </button>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>