<div class="mt-5 pt-2">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Soporte</li>
        </ol>
    </nav>


    <div class="card-deck animated fadeIn">
        <div class="card">
            <video class="card-img-top" controls>
                <source src="{{URL_BACKEND_IMAGE}}configuracion.mp4" type="video/mp4">
                <source src="{{URL_BACKEND_IMAGE}}configuracion.mp4" type="video/ogg">
              Your browser does not support the video tag.
              </video>
            <div class="card-footer">
                <h5 class="card-title">Paso 1: Configuración navegador Chrome</h5>
            </div>
        </div>
        <div class="card">
            <video class="card-img-top" controls>
                <source src="{{URL_BACKEND_IMAGE}}paso1.mp4" type="video/mp4">
                <source src="{{URL_BACKEND_IMAGE}}paso1.mp4" type="video/ogg">
              Your browser does not support the video tag.
              </video>
            <div class="card-footer">
                <h5 class="card-title">Paso 2: opción Rutas y Tipo de pago</h5>
            </div>
        </div>
        <div class="card">
            <video class="card-img-top" controls>
                <source src="{{URL_BACKEND_IMAGE}}paso2.mp4" type="video/mp4">
                <source src="{{URL_BACKEND_IMAGE}}paso2.mp4" type="video/ogg">
              Your browser does not support the video tag.
              </video>
            <div class="card-footer">
                <h5 class="card-title">Paso 3: opción Personal</h5>
            </div>
        </div>
    </div>


    <div class="card-deck mt-5 animated fadeIn">
        <div class="card">
            <video class="card-img-top" controls>
                <source src="{{URL_BACKEND_IMAGE}}paso3.mp4" type="video/mp4">
                <source src="{{URL_BACKEND_IMAGE}}paso3.mp4" type="video/ogg">
              Your browser does not support the video tag.
              </video>
            <div class="card-footer">
                <h5 class="card-title">Opción Cliente</h5>
            </div>
        </div>
        <div class="card">
            <video class="card-img-top" controls>
                <source src="{{URL_BACKEND_IMAGE}}paso4.mp4" type="video/mp4">
                <source src="{{URL_BACKEND_IMAGE}}paso4.mp4" type="video/ogg">
              Your browser does not support the video tag.
              </video>
            <div class="card-footer">
                <h5 class="card-title">Opción Crédito</h5>
            </div>
        </div>
        <div class="card">
            <video class="card-img-top" controls>
                <source src="{{URL_BACKEND_IMAGE}}paso5.mp4" type="video/mp4">
                <source src="{{URL_BACKEND_IMAGE}}paso5.mp4" type="video/ogg">
              Your browser does not support the video tag.
              </video>
            <div class="card-footer">
                <h5 class="card-title">Opción Estado Cuenta</h5>
            </div>
        </div>
    </div>

    <div class="card  mt-5 mb-5" style="width: 40rem;">
        <video class="card-img-top" controls>
                <source src="{{URL_BACKEND_IMAGE}}paso6.mp4" type="video/mp4">
                <source src="{{URL_BACKEND_IMAGE}}paso6.mp4" type="video/ogg">
              Your browser does not support the video tag.
              </video>
        <div class="card-footer">
            <h5 class="card-title">Opción Pagos</h5>
        </div>
    </div>


</div>