<div class="row mt-5 pt-2">
    <div class="col-md-2 d-none d-md-block bg-light sidebar animated fadeIn" *ngIf="mostrarNavLateral">
        <nav class="">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link text-primary">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text"><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path><polyline points="14 2 14 8 20 8"></polyline><line x1="16" y1="13" x2="8" y2="13"></line><line x1="16" y1="17" x2="8" y2="17"></line><polyline points="10 9 9 9 8 9"></polyline></svg>                            Panel crédito
                            <li class="nav-item">

                                <a class="nav-link" routerLink="/credito-editar"> <i class="fas fa-edit"></i> Editar crédito</a>

                            </li>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <main role="main" class="animated fadeIn" [ngClass]="{co1: mostrarNavLateral, co2: !mostrarNavLateral}">
        <div style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;" class="chartjs-size-monitor">
            <div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
            </div>
            <div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
            </div>
        </div>
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h3 class="h5">AGENCIA {{ubicacion | uppercase}}</h3>

            <form #consultaForm="ngForm" *ngIf="loginService.hasRole('ROLE_ADMIN')">
                <input type="date" name="fecha1" [(ngModel)]="creditoConsulta.fecha1" required>
                <input type="date" name="fecha2" [(ngModel)]="creditoConsulta.fecha2" required>
                <select name="ubicacion" [(ngModel)]="creditoConsulta.ubicacion" class="btn btn-sm btn-outline-info">
             <option [ngValue]="snUbicacion">-SELECCIONAR AGENCIA-</option>
             <option *ngFor="let ubicacion of rutasUbicacion" [ngValue]="ubicacion">{{ubicacion}}</option>
           </select>
                <select [(ngModel)]="creditoConsulta.rta" name="rta" class="btn btn-sm btn-outline-info">
             <option [ngValue]="snRuta">---SELECCIONAR RUTA-----</option>
             <option *ngFor="let ruta of allRuta" [ngValue]="ruta.codigo">{{ruta.codigo}}</option>
           </select>
                <button class="btn btn-outline-success btn-sm" role="button" (click)='consultarCredito()' [disabled]="!consultaForm.form.valid">
             <i class="fas fa-search"></i> buscar </button>
            </form>

        </div>

        <div class="example-header mat-elevation-z8">
            <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Escriba nombre o apellido para filtrar" />
            </mat-form-field>
        </div>
        <br>
        <div class="card border border-primary">
            <div class="card-header">
                <button class="mat-paginator-navigation-first mat-icon-button mat-button-base ng-star-inserted" type="button" style="touch-action: none; -moz-user-select: none;" (click)="cambiaVisibilidad()" data-toggle="tooltip" data-placement="left" title="Ocultar O Mostrar Panel"><span
                    class="mat-button-wrapper"><svg class="mat-paginator-icon" focusable="false" viewBox="0 0 24 24" *ngIf="texto=='Ocultar'">
                      <path d="M18.41 16.59L13.82 12l4.59-4.59L17 6l-6 6 6 6zM6 6h2v12H6z"></path>
                    </svg></span>
    
                    <span *ngIf="texto=='Mostrar'" class="mat-button-wrapper"><svg class="mat-paginator-icon" focusable="false" viewBox="0 0 24 24"><path d="M5.59 7.41L10.18 12l-4.59 4.59L7 18l6-6-6-6zM16 6h2v12h-2z"></path></svg></span>
                  <div class="mat-button-ripple mat-ripple mat-button-ripple-round" matripple="" ng-reflect-centered="true"
                    ng-reflect-disabled="true" ng-reflect-trigger="[object HTMLButtonElement]"></div>
                  <div class="mat-button-focus-overlay"></div>
                </button>
                <i class="fas fa-hand-holding-usd"></i> Creditos otorgados
                <select class="form-control-sm float-right btn btn-sm btn-outline-info" (change)="findAllByFechaAndRuta($event.target.value)">
            <option [ngValue]="undefined">SELECCIONAR RUTA</option>
            <option *ngFor="let ruta of rutas" [ngValue]="ruta.codigo">{{ruta.codigo}}</option>
          </select>
            </div>
            <div class="card-body animated fadeIn">

                <div class="example-container mat-elevation-z8 table-responsive-sm">
                    <mat-table [dataSource]="dataSource" matSort>

                        <ng-container matColumnDef="Codigo">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Código</mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{row.cliente.codigo.codigo}} </mat-cell>
                            <mat-footer-cell *matFooterCellDef></mat-footer-cell>
                        </ng-container>

                        <ng-container matColumnDef="Nombre">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre</mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{row.cliente.nombre}} </mat-cell>
                            <mat-footer-cell *matFooterCellDef></mat-footer-cell>
                        </ng-container>

                        <ng-container matColumnDef="Apellido">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Apellido</mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{row.cliente.apellido}} </mat-cell>
                            <mat-footer-cell *matFooterCellDef> </mat-footer-cell>
                        </ng-container>

                        <ng-container matColumnDef="Ruta">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Ruta</mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{row.cliente.codigo.ruta.codigo}} </mat-cell>
                            <mat-footer-cell *matFooterCellDef>Total: </mat-footer-cell>
                        </ng-container>
                        <ng-container matColumnDef="Cantidad">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Cantidad</mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{row.monto |currency:"GTQ":"symbol"}} </mat-cell>
                            <mat-footer-cell *matFooterCellDef>{{total |currency:"GTQ":"symbol"}}</mat-footer-cell>

                        </ng-container>
                        <ng-container matColumnDef="TP">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Tipo Pago</mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{row.tipoPago.nombreTipo}} </mat-cell>
                            <mat-footer-cell *matFooterCellDef> </mat-footer-cell>
                        </ng-container>
                        <ng-container matColumnDef="Fecha">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>F. Registro</mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{ row.fechaRegistro | date:'dd-MM-yyyy'}} </mat-cell>
                            <mat-footer-cell *matFooterCellDef> </mat-footer-cell>
                        </ng-container>
                        <ng-container matColumnDef="Acciones">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Acciones</mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
                                    <mat-button-toggle value="bold" (click)="abrirModal(row)" *ngIf="validador">Editar</mat-button-toggle>
                                </mat-button-toggle-group>

                            </mat-cell>
                            <mat-footer-cell *matFooterCellDef> </mat-footer-cell>
                        </ng-container>

                        <mat-header-row *matHeaderRowDef="displayedColumns" class="encabezado"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                        <mat-footer-row *matFooterRowDef="displayedColumns"></mat-footer-row>
                    </mat-table>
                    <mat-paginator [pageSizeOptions]="[5, 10, 25, 50, 100]" [pageSize]="10" showFirstLastButtons></mat-paginator>
                </div>
            </div>
        </div>
    </main>

</div>


<div class="abrir-modal  fadeIn" *ngIf="creditoService.modal">
    <div class="modal mt-5 pt-2" tabindex="-1" role="dialog" style="display:block;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modficar datos crédito para cliente:</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cerrarModal()">
            <span aria-hidden="true">&times;</span>
          </button>
                </div>
                <form #creditoForm="ngForm">

                    <div class="modal-body">

                        <p>{{credito.cliente.nombre}} {{credito.cliente.apellido}}</p>

                        <div class="form-group">
                            <label for="tipoPago">Tipo pago :</label>
                            <select [compareWith]="compararTipoPago" class="form-control form-control-sm" name="tipoPago" [(ngModel)]="credito.tipoPago" required>
                   <option *ngFor="let tipoPago of tipoPagos" [ngValue]="tipoPago">{{tipoPago.nombreTipo}}</option>
                 </select>
                        </div>

                        <div class="form-group">
                            <label for="monto">Cantidad:</label>
                            <input type="text" name="monto" class="form-control form-control-sm" [(ngModel)]="credito.monto" required pattern="^[0-9]+([.][0-9]+)?$" #cant="ngModel" [ngClass]="{ 'is-invalid': cant.invalid,'is-valid': cant.valid}">
                            <div *ngIf="cant.invalid && (cant.dirty || cant.touched)" class="invalid-feedback ">
                                <div *ngIf="cant.errors.required">Cantidad es obligatorio</div>
                                <div *ngIf="cant.errors.pattern">Ingrese una cantidad valida</div>
                            </div>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cerrarModal()">Cancelar</button>
                        <button class="btn btn-warning btn-block" role="button" (click)='updateCredito()' [disabled]="!creditoForm.form.valid || loading">
                            <i [ngClass]="{'fa-sync fa-spin':loading}" class="fas"></i>
                            <span *ngIf="!loading"> Modificar credito</span>
                            <span *ngIf="loading"> Modificando......</span>
                        </button>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>