<div class="abrir-modal  fadeIn" *ngIf="infoService.modal">
    <div class="modal mt-4" tabindex="-1" role="dialog" style="display:block;">
        <div class="modal-dialog modal-dialog-scrollable modal-xl " role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">CLIENTE: {{estadoCuenta.credito.cliente.nombre}} {{estadoCuenta.credito.cliente.apellido}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cerrarModal()">
            <span aria-hidden="true">&times;</span>
          </button>
                </div>
                <div class="modal-body">

                    <div class="card-group">
                        <div class="card text-white bg-info">
                            <div class="card-body">
                                <h5 class="card-title">Datos cliente</h5>
                                <div class="card mb-3" style="max-width: 600px;">
                                    <div class="row no-gutters">
                                        <div class="col-md-4">
                                            <div class="card mt-1 text-primary" style="width: 8rem;">
                                                <ul class="list-group list-group-flush">
                                                    <li class="list-group-item">Ruta:</li>
                                                    <li class="list-group-item">Código:</li>
                                                    <li class="list-group-item">Teléfono:</li>
                                                    <li class="list-group-item">Ciclo:</li>
                                                    <li class="list-group-item">F. Registro:</li>
                                                    <li class="list-group-item">Dirección:</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="card-body">
                                                <div class="card mt-n3 text-dark" style="width: 12rem;">
                                                    <ul class="list-group list-group-flush">
                                                        <li class="list-group-item">{{estadoCuenta.credito.cliente.codigo.ruta.codigo}}</li>
                                                        <li class="list-group-item">{{estadoCuenta.credito.cliente.codigo.codigo}}</li>
                                                        <li class="list-group-item">{{estadoCuenta.credito.cliente.telefono}}</li>
                                                        <li class="list-group-item">{{estadoCuenta.credito.cliente.record.ciclo}}</li>
                                                        <li class="list-group-item">{{estadoCuenta.credito.cliente.createAt | date:'dd-MM-yyyy'}}</li>
                                                        <li class="list-group-item">{{estadoCuenta.credito.cliente.direccion}}</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card text-white bg-info">
                            <div class="card-body">
                                <h5 class="card-title">Datos crédito</h5>
                                <div class="card mb-3" style="max-width: 800px;">
                                    <div class="row no-gutters">
                                        <div class="col-md-4">
                                            <div class="card mt-1 text-primary" style="width: 10rem;">
                                                <ul class="list-group list-group-flush">
                                                    <li class="list-group-item">I.C.:</li>
                                                    <li class="list-group-item">Forma pago:</li>
                                                    <li class="list-group-item">Monto:</li>
                                                    <li class="list-group-item">Monto total:</li>
                                                    <li class="list-group-item">Cuota:</li>
                                                    <li class="list-group-item">No. pagos:</li>
                                                    <li class="list-group-item">Interes:</li>
                                                    <li class="list-group-item">Plazo:</li>
                                                    <li class="list-group-item">F. inicio:</li>
                                                    <li class="list-group-item">F. vencimiento:</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="card-body">
                                                <div class="card mt-n3 text-dark" style="width: 16rem;">
                                                    <ul class="list-group list-group-flush">
                                                        <li class="list-group-item">{{estadoCuenta.credito.id}}</li>
                                                        <li class="list-group-item">{{estadoCuenta.credito.tipoPago.formaPago}}</li>
                                                        <li class="list-group-item">{{estadoCuenta.credito.monto |currency:"GTQ":"symbol"}}</li>
                                                        <li class="list-group-item">{{estadoCuenta.credito.montoTotal |currency:"GTQ":"symbol"}}</li>
                                                        <li class="list-group-item">{{estadoCuenta.credito.cuota |currency:"GTQ":"symbol"}}</li>
                                                        <li class="list-group-item">{{estadoCuenta.credito.tipoPago.noPago}}</li>
                                                        <li class="list-group-item">{{estadoCuenta.credito.tipoPago.interes |currency:"GTQ":"symbol"}}</li>
                                                        <li class="list-group-item">{{estadoCuenta.credito.tipoPago.plazo}}</li>
                                                        <li class="list-group-item">{{estadoCuenta.credito.fechaRegistro | date:"EEEE dd, MMMM yyyy"}}</li>
                                                        <li class="list-group-item">{{estadoCuenta.credito.fechaVencimiento | date:"EEEE dd, MMMM yyyy"}}</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card text-white bg-info">
                            <div class="card-body">
                                <h5 class="card-title">Estado cuenta</h5>
                                <div class="card mb-3" style="max-width: 600px;">
                                    <div class="row no-gutters">
                                        <div class="col-md-6">
                                            <div class="card mt-1 text-primary" style="width: 16rem;">
                                                <ul class="list-group list-group-flush">
                                                    <li class="list-group-item">Saldo:</li>
                                                    <li class="list-group-item">Total pagado:</li>
                                                    <li class="list-group-item">Pagos faltantes:</li>
                                                    <li class="list-group-item">Pagos realizados:</li>
                                                    <li class="list-group-item">Días adelantado:</li>
                                                    <li class="list-group-item">Total adelantado:</li>
                                                    <li class="list-group-item">Días en Mora:</li>
                                                    <li class="list-group-item">Monto dias en mora:</li>
                                                    <li class="list-group-item">Mora generada:</li>
                                                    <li class="list-group-item">Estado:</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="card-body">
                                                <div class="card mt-n3 text-dark" style="width: 9rem;">
                                                    <ul class="list-group list-group-flush">
                                                        <li class="list-group-item">{{estadoCuenta.saldo |currency:"GTQ":"symbol"}}</li>
                                                        <li class="list-group-item">{{estadoCuenta.totalPagado |currency:"GTQ":"symbol"}}</li>
                                                        <li class="list-group-item">{{estadoCuenta.pagosFaltantes}}</li>
                                                        <li class="list-group-item">{{estadoCuenta.pagosRealizados}}</li>
                                                        <li class="list-group-item">{{estadoCuenta.credito.mora.diasAdelantado}}</li>
                                                        <li class="list-group-item">{{estadoCuenta.credito.mora.totalAdelantado |currency:"GTQ":"symbol"}}</li>
                                                        <li class="list-group-item">{{estadoCuenta.credito.mora.diasMora}}</li>
                                                        <li class="list-group-item">{{estadoCuenta.credito.mora.totalDeMora |currency:"GTQ":"symbol"}}</li>
                                                        <li class="list-group-item">{{estadoCuenta.credito.mora.moraGenerada |currency:"GTQ":"symbol"}}</li>
                                                        <li class="list-group-item">{{estadoCuenta.status}}</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr> Movimiento credito
                    <div class="alert alert-info" *ngIf="estadoCuenta.credito.deposito.length==0">
                        No hay depositos registrados
                    </div>
                    <table class="table table-striped table-sm" *ngIf="estadoCuenta.credito.deposito.length>0">
                        <thead>
                            <tr>
                                <th scope="col">Cantidad</th>
                                <th>Mora</th>
                                <th>Fecha deposito</th>
                                <th>Hora deposito</th>
                                <th>Registrado por</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let d of estadoCuenta.credito.deposito">
                                <td>{{d.cantidad |currency:"GTQ":"symbol"}}</td>
                                <td>{{d.mora |currency:"GTQ":"symbol"}}</td>
                                <td>{{d.fechaDeposito | date:"EEEE dd, MMMM yyyy"}}</td>
                                <td>{{d.horaDeposito}}</td>
                                <td>{{d.usuario.personal.nombre}}</td>
                            </tr>
                        </tbody>
                    </table>

                    <hr> Fechas pago
                    <table class="table table-striped table-sm">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Fecha</th>
                            </tr>

                        </thead>
                        <tbody>
                            <tr *ngFor="let f of fechasPago; let id =index">
                                <td>{{id+1}}</td>
                                <td>{{f.fecha | date:"EEEE dd, MMMM yyyy"}}</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>