<app-estado-cuenta-fecha *ngIf="fechaPagoSeleccionado" [fechaPago]="fechaPagoSeleccionado"></app-estado-cuenta-fecha>

<div class="row mt-5 pt-2 animated fadeIn">

    <main role="main" class="col-md-12 ml-sm-auto col-lg-12 px-4">
        <div style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;" class="chartjs-size-monitor">
            <div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
            </div>
            <div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
            </div>
        </div>
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h3 class="h5">AGENCIA {{ubicacion | uppercase}}</h3>



            <a class=" nav-link float-right" routerLink="/deposito/list-deposito"> <i class="fas fa-coins"></i> Historial cobros</a>
            <div class="btn-toolbar mb-2 mb-md-0">
                <button class="btn btn-outline-success btn-sm mr-2" (click)="finalizarPagos()" [disabled]="loading">Finalizar pagos</button>

                <div class="btn-group mr-2">
                    <button type="button" class="btn btn-sm btn-outline-danger" (click)="generarpdf()"><i class="fas fa-file-pdf"></i> Generar reporte</button>
                </div>
                <select class="btn btn-sm btn-outline-info" (change)="findAllByFechaAndRutaReporte($event.target.value)">
            <option  [ngValue]="undefined">-- SELECCIONAR RUTA --</option>
            <option   *ngFor="let ruta of rutas" [ngValue]="ruta.codigo">{{ruta.codigo}}</option>
          </select>
            </div>
        </div>
        <div class="row">
            <div class="col-7">
                <div class="alert alert-info" role="alert" *ngIf="!verificarCargaDatos">
                    No se ha seleccionado ruta para cargar datos..
                </div>

                <div class="alert alert-danger" role="alert" *ngIf="dataSource?.data.length==0">
                    No hay datos a mostrar para la ruta seleccionada
                </div>

                <div *ngIf="verificarCargaDatos">

                    <mat-form-field>
                        <input matInput (keyup)="applyFilter($event.target.value)" (click)="limpiar($event)" placeholder="Escriba nombre o apellido para filtrar" />
                    </mat-form-field>
                </div>
                <div class="card border border-primary">
                    <div class="card-header">

                    </div>
                    <div class="card-body">

                        <div class="example-container mat-elevation-z8 table-responsive-sm">
                            <mat-table [dataSource]="dataSource" matSort>
                                <ng-container matColumnDef="Ruta">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Ruta</mat-header-cell>
                                    <mat-cell *matCellDef="let row"> {{row.credito.cliente.codigo.ruta.codigo}} </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="Nombre">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre</mat-header-cell>
                                    <mat-cell *matCellDef="let row"> {{row.credito.cliente.nombre}} </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="Apellido">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Apellido</mat-header-cell>
                                    <mat-cell *matCellDef="let row"> {{row.credito.cliente.apellido}} </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="Cuota">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Cuota</mat-header-cell>
                                    <mat-cell *matCellDef="let row"> {{row.credito.cuota |currency:"GTQ":"symbol"}} </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="Saldo">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Restante</mat-header-cell>
                                    <mat-cell *matCellDef="let row" class="font-weight-bold"> {{row.saldo |currency:"GTQ":"symbol"}} </mat-cell>

                                </ng-container>

                                <ng-container matColumnDef="PagosFaltantes">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>CF</mat-header-cell>
                                    <mat-cell *matCellDef="let row"> {{row.pagosFaltantes}} </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="Acciones">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Acciones</mat-header-cell>
                                    <mat-cell *matCellDef="let row">
                                        <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
                                            <mat-button-toggle value="bold" (click)="registrarPago(row)">Pagar</mat-button-toggle>
                                            <mat-button-toggle value="italic" (click)="infoCompleta(row)">Detalle</mat-button-toggle>
                                        </mat-button-toggle-group>

                                    </mat-cell>
                                </ng-container>


                                <mat-header-row *matHeaderRowDef="displayedColumns" class="encabezado"></mat-header-row>
                                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                            </mat-table>
                            <mat-paginator [pageSizeOptions]="[5, 10, 25, 50, 100,200]" [pageSize]="5" showFirstLastButtons></mat-paginator>

                        </div>

                    </div>
                </div>
                <hr>
                <h5 class="ml-5 form-group" *ngIf="agregarClientesADeposito.length > 0">Sub Total: <span>{{calcularGranTotal() |currency:"GTQ":"symbol"}}</span>
                    <span class="ml-5 text-danger">{{ calcularGranTotalMora() |currency:"GTQ":"symbol"}}</span> <span class="ml-5 text-primary">Total: {{calcularGranTotal()+ calcularGranTotalMora() |currency:"GTQ":"symbol" }} </span>
                </h5>
                <hr>

                <form *ngIf="agregarClientesADeposito.length > 0">
                    <table class="table table-striped table-hover table-sm">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Apellido</th>
                                <th>Restante</th>
                                <th>Cuota</th>
                                <th>Mora</th>
                                <th>Eliminar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of agregarClientesADeposito">
                                <td class="font-italic">{{item.credito.cliente.nombre}}</td>
                                <td class="font-italic">{{item.credito.cliente.apellido}}</td>
                                <td class="font-weight-bold">{{item.saldo |currency:"GTQ":"symbol"}}</td>
                                <td style="width:80px"><input type="text" value="{{item.credito.cuota}}" class="form-control form-control-sm" (change)="actualizarCuota(item.credito.id,$event,item.saldo)" required pattern="^[0-9]+([.][0-9]+)?$"></td>
                                <td style="width:80px"><input type="text" value="{{item.credito.mora.moraGenerada}}" class="form-control form-control-sm" (change)="actualizarMora(item.credito.id,$event,item.credito.mora.moraGenerada)">
                                </td>
                                <td><button class="btn btn-danger btn-sm" type="button" (click)="eliminarItemCliente(item.id)">x</button></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="form-group ">
                        <button class="btn btn-outline-primary float-right" role="button" type="submit" [disabled]="loading" (click)="storeDeposito()">
                            <i [ngClass]="{'fa-save':!loading, 'fa-sync fa-spin':loading}" class="fas"></i>
                            <span *ngIf="!loading"> Registrar pagos</span>
                            <span *ngIf="loading"> Registrando......</span>
                        </button>
                    </div>
                </form>
            </div>
            <div class="col">
                <app-historial-cobro></app-historial-cobro>
            </div>
        </div>
    </main>
</div>