<div class="alert alert-info" role="alert" *ngIf="dataSource?.data.length==0">
    No se han registrado pagos..
</div>

<div *ngIf="dataSource?.data.length>0">
    <div>

        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Escriba nombre o apellido para filtrar" />
        </mat-form-field>
        <select class="btn btn-sm btn-outline-secondary" (change)="findAllByFechaAndRuta($event.target.value)">
        <option [ngValue]="undefined">Filtrar por ruta</option>
        <option *ngFor="let ruta of rutas" [ngValue]="ruta.codigo">{{ruta.codigo}}</option>
      </select>
    </div>
</div>

<div class="example-container mat-elevation-z8 table-responsive-sm">
    <mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="Nombre">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Nombre </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.credito.cliente.nombre}} </mat-cell>
            <mat-footer-cell *matFooterCellDef class="font-weight-bold">Total </mat-footer-cell>
        </ng-container>
        <ng-container matColumnDef="Apellido">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Apellido </mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.credito.cliente.apellido}}</mat-cell>
            <mat-footer-cell *matFooterCellDef class="font-weight-bold">Cobro </mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="Cantidad">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Cantidad </mat-header-cell>
            <mat-cell *matCellDef="let row" class="font-weight-bold">{{row.cantidad |currency:"GTQ":"symbol"}} </mat-cell>
            <mat-footer-cell *matFooterCellDef class="text-primary font-weight-bold"> {{total |currency:"GTQ":"symbol"}}</mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="Mora">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Mora </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{ row.mora |currency:"GTQ":"symbol"}} </mat-cell>
            <mat-footer-cell *matFooterCellDef class="text-primary font-weight-bold">{{totalMora |currency:"GTQ":"symbol"}} </mat-footer-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns" class="encabezado"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        <mat-footer-row *matFooterRowDef="displayedColumns"></mat-footer-row>

    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 50, 100]" [pageSize]="5" showFirstLastButtons></mat-paginator>

</div>