<div class="row pt-2 mt-5">
    <div class="col-md-2 d-none d-md-block bg-light sidebar animated fadeIn" *ngIf="mostrarNavLateral">
        <nav class="">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link text-primary">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text"><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path><polyline points="14 2 14 8 20 8"></polyline><line x1="16" y1="13" x2="8" y2="13"></line><line x1="16" y1="17" x2="8" y2="17"></line><polyline points="10 9 9 9 8 9"></polyline></svg>                            Panel clientes
                        </a>
                    </li>
                    <ul class="nav flex-column mb-2">
                        <li class="nav-item">
                            <a class="nav-link text-primary">
                                <i class="fas fa-filter"></i> Filtar por
                            </a>
                        </li>

                        <li class="nav-item">
                            <button type="button" name="button" (click)="findAllByUbicacionAndStatusA(ubicacion)" class="btn btn-outline-success btn-block btn-sm">Clientes Activos</button>
                        </li>
                        <li class="nav-item">
                            <button type="button" name="button" (click)="findAllByUbicacionAndStatus(ubicacion)" class="btn btn-outline-danger btn-block btn-sm">Clientes Inactivos</button>
                        </li>


                        <li class="nav-item">
                            <button type="button" name="button" (click)="findAllClienteByUbicacion(ubicacion)" class="btn btn-outline-primary btn-block btn-sm">Mostrar todos</button>
                        </li>

                    </ul>
                </ul>
            </div>
        </nav>

    </div>

    <main role="main" class="animated fadeIn" [ngClass]="{co1: mostrarNavLateral, co2: !mostrarNavLateral}">
        <div style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;" class="chartjs-size-monitor">
            <div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
            </div>
            <div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
            </div>
        </div>
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h3 class="h5">AGENCIA {{ubicacion | uppercase}}</h3>

        </div>

        <div class="example-header mat-elevation-z8">
            <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Escriba nombre, apellido o ruta para filtrar" />
            </mat-form-field>
        </div>
        <br>
        <div class="card border border-primary">
            <div class="card-header">

                <button class="mat-paginator-navigation-first mat-icon-button mat-button-base ng-star-inserted" type="button" style="touch-action: none; -moz-user-select: none;" (click)="cambiaVisibilidad()" data-toggle="tooltip" data-placement="left" title="Ocultar O Mostrar Panel"><span
                    class="mat-button-wrapper"><svg class="mat-paginator-icon" focusable="false" viewBox="0 0 24 24" *ngIf="texto=='Ocultar'">
                      <path d="M18.41 16.59L13.82 12l4.59-4.59L17 6l-6 6 6 6zM6 6h2v12H6z"></path>
                    </svg></span>
    
                    <span *ngIf="texto=='Mostrar'" class="mat-button-wrapper"><svg class="mat-paginator-icon" focusable="false" viewBox="0 0 24 24"><path d="M5.59 7.41L10.18 12l-4.59 4.59L7 18l6-6-6-6zM16 6h2v12h-2z"></path></svg></span>
                  <div class="mat-button-ripple mat-ripple mat-button-ripple-round" matripple="" ng-reflect-centered="true"
                    ng-reflect-disabled="true" ng-reflect-trigger="[object HTMLButtonElement]"></div>
                  <div class="mat-button-focus-overlay"></div>
                </button>
                <i class="fas fa-address-book "></i> Listado de clientes registrados
                <button type="button" name="button" class="btn btn-primary float-right" [routerLink]="['/cliente/form']"><i class="far fa-id-card " ></i>  Registrar nuevo cliente</button>
            </div>
            <div class="card-body  animated fadeIn">

                <div class="example-container mat-elevation-z8 table-responsive-sm">
                    <mat-table [dataSource]="dataSource" matSort>

                        <ng-container matColumnDef="Codigo">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Código</mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{row.codigo.codigo}} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="Nombre">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre</mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{row.nombre}} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="Apellido">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Apellido</mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{row.apellido}} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="Telefono">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Teléfono</mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{row.telefono}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="Ruta">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Ruta</mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{row.codigo.ruta.codigo}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="Ciclo">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Ciclo</mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{row.record.ciclo}} </mat-cell>

                        </ng-container>
                        <ng-container matColumnDef="Fecha">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>F. Registro</mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{ row.createAt | date:'dd-MM-yyyy'}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="Status">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                <i *ngIf="row.status=='A' else elseBlock" class="far fa-check-circle fa-2x text-success"></i>
                                <ng-template #elseBlock>
                                    <i *ngIf="row.status=='I' else elseBlock" class="far fa-times-circle fa-2x text-danger"></i>
                                </ng-template>
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="Acciones">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Acciones</mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
                                    <mat-button-toggle value="bold" *ngIf="row.status=='A' else elseBlock" disabled>Activar</mat-button-toggle>
                                    <ng-template #elseBlock>
                                        <mat-button-toggle value="bold" (click)="asignarCredito(row)" class="text-info">Activar</mat-button-toggle>
                                    </ng-template>
                                    <mat-button-toggle value="bold" [routerLink]="['/cliente/form',row.id]">Editar</mat-button-toggle>

                                    <mat-button-toggle value="bold" *ngIf="row.status=='A' && loginService.hasRole('ROLE_ADMIN') else elseBlock2" disabled><i class="fas fa-trash-alt"></i></mat-button-toggle>
                                    <ng-template #elseBlock2>
                                        <mat-button-toggle *ngIf="loginService.hasRole('ROLE_ADMIN')" value="bold" (click)="delete(row)" class="text-danger " data-toggle="tooltip" data-placement="top" title="Eliminar cliente"><i class="fas fa-trash-alt"></i></mat-button-toggle>
                                    </ng-template>



                                </mat-button-toggle-group>

                            </mat-cell>
                        </ng-container>

                        <mat-header-row *matHeaderRowDef="displayedColumns" class="encabezado"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                    </mat-table>
                    <mat-paginator [pageSizeOptions]="[5, 10, 25, 50, 100]" [pageSize]="7" showFirstLastButtons></mat-paginator>
                </div>
            </div>
        </div>
    </main>

</div>

<div class="abrir-modal  fadeIn" *ngIf="clienteService.modal">
    <div class="modal mt-5 pt-2" tabindex="-1" role="dialog" style="display:block;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h6 class="modal-title">Activar: {{cliente.nombre}} {{cliente.apellido}}</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cerrarModal()">
            <span aria-hidden="true">&times;</span>
          </button>
                </div>
                <form #asignarForm="ngForm">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="tipoPago">Tipo pago :</label>
                            <select class="form-control form-control-sm" name="tipoPago" [(ngModel)]="cliente.tipoPago" #tp="ngModel" required [ngClass]="{ 'is-invalid': tp.invalid,'is-valid': tp.valid}">
                <option [ngValue]="undefined">---Seleccionar tipo de pago-----</option>
                <option *ngFor="let tipoPago of tipoPagos" [ngValue]="tipoPago">{{tipoPago.nombreTipo}}</option>
              </select>
                            <div *ngIf="tp.invalid && (tp.dirty || tp.touched)" class="invalid-feedback ">
                                <div *ngIf="tp.errors.required">Seleccione un tipo de pago</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="cantidad">Cantidad:</label>
                            <input type="text" name="cantidad" class="form-control form-control-sm" [(ngModel)]="cliente.cantidad" required pattern="^[0-9]+([.][0-9]+)?$" #cant="ngModel" [ngClass]="{ 'is-invalid': cant.invalid,'is-valid': cant.valid}">
                            <div *ngIf="cant.invalid && (cant.dirty || cant.touched)" class="invalid-feedback ">
                                <div *ngIf="cant.errors.required">Cantidad es obligatorio</div>
                                <div *ngIf="cant.errors.pattern">Ingrese una cantida valida</div>
                            </div>

                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cerrarModal()">Cancelar</button>
                        <button class="btn btn-primary btn-block" role="button" (click)='registrarCredito()' [disabled]="!asignarForm.form.valid || loading">
                            <i [ngClass]="{'fa-sync fa-spin':loading}" class="fas"></i>
                            <span *ngIf="!loading"> Activar credito</span>
                            <span *ngIf="loading"> Activando......</span>
                        </button>

                    </div>
                </form>

                <p *ngIf="cliente.tipoPago && cliente.cantidad">
                    cuota {{ (cliente.cantidad * cliente.tipoPago.interes | number) + (cliente.cantidad |number) }}
                </p>

                <p *ngIf="cliente.tipoPago && cliente.cantidad">
                    {{ (cliente.cantidad * cliente.tipoPago.interes |number ) + ( cliente.cantidad|number )}}
                </p>



            </div>
        </div>
    </div>
</div>