<app-form-codigo></app-form-codigo>

<nav aria-label="breadcrumb" class="mt-5 pt-2">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Registro de clientes</li>
    </ol>
</nav>
<ul class="alert alert-danger" *ngIf="errores?.length>0">
    <li *ngFor="let err of errores">
        {{ err }}
    </li>
</ul>
<div class="row">
    <div class="col">
    </div>
    <div class="col-sm-4">
        <div class="card bg-light mt-5">
            <div class="card-header">
                {{ title }}
            </div>
            <div class="card-body animated fadeIn">
                <form #clienteForm="ngForm" (ngSubmit)="store()">
                    <div class="form-group">
                        <label for="ruta">Ruta:</label>
                        <select class="form-control form-control-sm" (change)="findAllByCodigo($event.target.value)" required>
                    <option [ngValue]="undefined">---Seleccionar ruta-----</option>
                    <option *ngFor="let ruta of rutas" [ngValue]="ruta.codigo">{{ruta.codigo}}</option>
                  </select>
                    </div>
                    <div class="form-group">
                        <label for="categoria">Código:</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <button class="btn btn-info btn-sm" type="button" (click)="abrirModalCodigo()"><i
                                class="fas fa-plus-circle"></i></button>
                            </div>
                            <select class="form-control form-control-sm" [(ngModel)]="cliente.codigo" name="codigo" required #cod="ngModel" [ngClass]="{ 'is-invalid': cod.invalid,'is-valid': cod.valid}">
                          <option [ngValue]="undefined">---Seleccionar código para asignar-----</option>
                          <option *ngFor="let codigo of codigos" [ngValue]="codigo">{{codigo.codigo}}</option>
                        </select>
                            <div *ngIf="cod.invalid && (cod.dirty || cod.touched)" class="invalid-feedback ">
                                <div *ngIf="cod.errors.required">Asigne un código al cliente</div>
                            </div>
                        </div>

                    </div>
                    <div class="form-group">
                        <label for="nombre">Nombre</label>
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="cliente.nombre" name="nombre" #nom="ngModel" required pattern="[ A-Za-zäÄëËïÏöÖüÜáéíóúáéíóúÁÉÍÓÚÂÊÎÔÛâêîôûàèìòùÀÈÌÒÙñÑ]+" maxlength="22" [ngClass]="{ 'is-invalid': nom.invalid,'is-valid': nom.valid}">
                        <div *ngIf="nom.invalid && (nom.dirty || nom.touched)" class="invalid-feedback ">
                            <div *ngIf="nom.errors.required">Nombre es obligatorio</div>
                            <div *ngIf="nom.errors.pattern">Ingrese un nombre valido</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="apellido">Apellido</label>
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="cliente.apellido" name="apellido" #ape="ngModel" required pattern="[ A-Za-zäÄëËïÏöÖüÜáéíóúáéíóúÁÉÍÓÚÂÊÎÔÛâêîôûàèìòùÀÈÌÒÙñÑ]+" maxlength="30" [ngClass]="{ 'is-invalid': ape.invalid,'is-valid': ape.valid}">
                        <div *ngIf="ape.invalid && (ape.dirty || ape.touched)" class="invalid-feedback ">
                            <div *ngIf="ape.errors.required">Apellido es obligatorio</div>
                            <div *ngIf="ape.errors.pattern">Ingrese un apellido valido</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="direccion">Dirección</label>
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="cliente.direccion" name="direccion" #dir="ngModel" required pattern="[ A-Za-z0-9,äÄëËïÏöÖüÜáéíóúáéíóúÁÉÍÓÚÂÊÎÔÛâêîôûàèìòùÀÈÌÒÙ-ñÑ]+" maxlength="70" [ngClass]="{ 'is-invalid': dir.invalid,'is-valid': dir.valid}">
                        <div *ngIf="dir.invalid && (dir.dirty || dir.touched)" class="invalid-feedback ">
                            <div *ngIf="dir.errors.required">Direccion es obligatoirio</div>
                            <div *ngIf="dir.errors.pattern">Ingrese una dirección valida</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="telefono">Teléfono</label>
                        <input type="text" name="telefono" class="form-control form-control-sm" [(ngModel)]="cliente.telefono" #tel="ngModel" pattern="[0-9 ]*" required maxlength="9" minlength="8" [ngClass]="{ 'is-invalid': tel.invalid,'is-valid': tel.valid}">
                        <div *ngIf="tel.invalid && (tel.dirty || tel.touched)" class="invalid-feedback ">
                            <div *ngIf="tel.errors.required">Numero de celular es obligatoirio</div>
                            <div *ngIf="tel.errors.pattern">Ingrese una numero valido</div>
                            <div *ngIf="tel.errors.minlength">Debe de tener 8 digitos</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="tipoPago">Tipo pago :</label>
                        <select class="form-control form-control-sm" name="tipoPago" [(ngModel)]="cliente.tipoPago" #tp="ngModel" required [ngClass]="{ 'is-invalid': tp.invalid,'is-valid': tp.valid}">
                    <option [ngValue]="undefined">---Seleccionar tipo de pago-----</option>
                    <option *ngFor="let tipoPago of tipoPagos" [ngValue]="tipoPago">{{tipoPago.nombreTipo}}</option>
                  </select>
                        <div *ngIf="tp.invalid && (tp.dirty || tp.touched)" class="invalid-feedback ">
                            <div *ngIf="tp.errors.required">Seleccione un tipo de pago</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="cantidad">Cantidad:</label>
                        <input type="text" name="cantidad" class="form-control form-control-sm" [(ngModel)]="cliente.cantidad" required pattern="^[0-9]+([.][0-9]+)?$" #cant="ngModel" [ngClass]="{ 'is-invalid': cant.invalid,'is-valid': cant.valid}">
                        <div *ngIf="cant.invalid && (cant.dirty || cant.touched)" class="invalid-feedback ">
                            <div *ngIf="cant.errors.required">Cantidad es obligatorio</div>
                            <div *ngIf="cant.errors.pattern">Ingrese una cantida valida</div>
                        </div>

                    </div>

                    <div class="form-group ">
                        <button class="btn btn-primary btn-block" role="button" type="submit" [disabled]="!clienteForm.form.valid || loading">
                            <i [ngClass]="{'fa-save':!loading, 'fa-sync fa-spin':loading}" class="fas"></i>
                            <span *ngIf="!loading"> Registrar cliente</span>
                            <span *ngIf="loading"> Registrando......</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col"></div>
</div>